@media screen and (min-width:768px)
{
  .top-brife,.form-info,.buttom-line
  {
    width: 70%;

  }


.label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  float: left;
  width: 25%;
  margin-top: 0;

}
input[type=text],
input[type=email],
input[type=tel], .form-country
{
  float: left;
  width: 75%;
  margin-top: -25px;
}
.respo:after {
  content: "";
  display: table;
  clear: both;
}
}
